.type{
    float: left;
}
.type2{
    text-align: end;    
    width: 100%;
    /* float: left; */
}
/* .type3{
    width:5px;
    height: 3vh;
    /* background-color: red; 
    text-align: end;
} */

.val{
    /* border: 1px solid blue; */
    box-shadow: 5px 5px 10px #888888;
    border-radius: 5px  ;
    background-color: white;
    margin:4px; 
    padding: 4px;
    padding-bottom: 8px;
    height: 3vh;
}