/* .App {
  text-align: center;
} */

.App{
  margin:auto;
  margin-top: 30px;
  margin-bottom: 100px;
  height: 100%;
  width: 300px;
  padding: 10px;
  background-color: #ededed;
  /* border: 2px solid blue; */
}